{% from "../partials/icon.njk" import icon %}

{% macro list(info, source, siteMeta) %}
  <ul class="badges-list {info.source}-list">
    {# filter the list with selection from frontmatter #}
    {% for item in source %}

      {% if item.show %}
      <li>
        {% if item.url %}
        <a href="{{ item.url }}">
          
          {% if item.image %}
          {% set imagesrc = siteMeta.imagePrefix ~ "w_100,c_fill,g_auto,f_auto/" ~ item.image %}
          <img src="{{ imagesrc }}" alt="{{ item.title }}">
          {% endif %}

          {% if item.icon %}
          {% set iconSource = item.icon %}
          {{ icon(iconSource) }}
          {% endif %}
          
          {% if item.title %}
          <h4>{{ item.title }}</h4>
          {% endif %}
          
          {% if item.description %}
          <div>{{ item.description | mdToHTML | safe }}</div>
          {% endif %}

        </a>

        {% else %}

        <span>
          
          {% if item.image %}
          {% set imagesrc = siteMeta.imagePrefix ~ "w_100,c_fill,g_auto,f_auto/" ~ item.image %}
          <img src="{{ imagesrc }}" alt="{{ item.title }}">
          {% endif %}

          {% if item.icon %}
          {% set iconSource = item.icon %}
          {{ icon(iconSource) }}
          {% endif %}
          
          {% if item.title %}
          <h4>{{ item.title }}</h4>
          {% endif %}
          
          {% if item.description %}
          <div>{{ item.description | mdToHTML | safe }}</div>
          {% endif %}

        </span>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}