{% from "../partials/icon.njk" import icon %}

<section class="section-awards-list {{ params.sectionClass }}{{ " paddingTop" if params.paddingTop }} {{ " paddingBottom" if params.paddingBottom }}">
  <div class="container">
    <ul class="awards-list">
      {% for item in awards %}

      {# assemble image source #}
      {% set imageSRC = site.imagePrefix ~ "w_150,c_fill,g_auto,f_auto/" ~ item.image %}

      <li>
        {% if item.url %}
          <a href="{{ item.url }}" class="card">
            <img src="{{ imageSRC }}" alt="{{ item.name }}" />
          </a>
        {% else %}
          <span class="card">
            <img src="{{ imageSRC }}" alt="{{ item.name }}" />
          </span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>