{% from "../partials/icon.njk" import icon %}

<section class="section-base-components-list {{ " paddingTop" if params.paddingTop }} {{ " paddingBottom" if params.paddingBottom }}">
  <div class="container">
    <ul class="cards-list">
      {% for item in components %}

      {# assemble image source #}
      {% set imageSRC = site.imagePrefix ~ "w_280,c_fill,g_auto,f_auto/" ~ item.thumbnail %}

      <li>
        <a href="{{ item.link }}" class="card">
          <div class="image-wrapper">
            <img src="{{ imageSRC }}" alt="{{ item.name }}" />
          </div>
          <div class="prose">
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
          </div>

          {{ icon("arrow-right") }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>