{% from "../partials/text.njk" import text %}
{% from "../partials/icon.njk" import icon %}

{# this section receives props params and site #}

<section class="section-home-banner {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="content">

    <div class="prose">
      <h1>{{ params.text.title }}</h1>
      <p class="sub-title">{{ params.text.subTitle }}</p>
      <p class="introduction">{{ params.text.prose }}</p>
    </div>

    <a class="scroll-hint" href="#banner-bottom">{{ icon("arrow-down") }}</a>

  </div>

  <span id="banner-bottom"></span>
  
</section>