{% from "../partials/responsive-image.njk" import responsiveImage %}

<section class="section-image {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="container">
    <div 
      class="outer-image-wrapper {{ params.image.alignment }} {% if params.image.hasBorder %}has-border{%endif%}" 
      {% if params.image.maxWidth %}style="max-width: {{ params.image.maxWidth }}px;"{% endif %}}   
    >
      {{ responsiveImage(params.image, site) }}
    </div>
    <p class="image-caption">{{params.image.caption}}</p>
  </div>
</section>