{% from "./component.njk" import component %}

{# this section combines lists of sections and displays them in tabs #}

<section 
  class="section-tabbed-sections {% if params.sectionClass %}{{ params.sectionClass }}{% endif %} {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="content">
    
    <ul class="tabs">
    {# loop through all tabs objects. Use key for tabs label and tab content id #} 
    {% for obj in params.tabs %}
      {% set index = loop.index %}
      {% for key, value in obj %}
      <li class="tab-item {% if index == 1 %}active{% endif %}">
        <a href="#{{ key }}-tab" class="tab-link">
          {{ key | capitalize }}
        </a>
      </li>
      {% endfor %}
    {% endfor %}
    </ul>

    <div class="tab-content-wrapper">
    {# loop through all tabs content. Each tab content will be an array of sections #} 
    {% for obj in params.tabs %}
      
      {# get the object key to build the proper tab content id #}
      {% for key, value in obj %}
        {% set name = key %}
      {% endfor %}

      <div id="{{ name | lower }}-tab" class="tab-content">
      
      {# value is the array with the sections for this tab #}
      {% for key, value in obj %}
        {# finaly loop through the sections of this tabs content #}
        {% for thisSection in value %}
      
        {% set name = thisSection.section %}
        {% set params = thisSection %}
        
        <div class="section-wrapper{% if thisSection.inContainer %} inContainer{% endif %}{% if thisSection.marginTop %} marginTop{% endif %}{% if thisSection.marginBottom %} marginBottom{% endif %} ">
          {# site and components are metadata #}
          {{ component(name, params, site) }}
        </div>

        {% endfor %}
      {% endfor %}
      </div>
    {% endfor %}
    </div>
    
    
  </div>
</section>