.cards-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  li {
    flex: 0 0 280px;
    padding: 0 20px;
    margin-bottom: 20px;

    .card {
      display: block;
      height: 100%;
      border: 1px solid #f0f0f0;
    }
    .image-wrapper {

    }
    .prose {
      padding: 20px 20px 0;

    }
    
  }
}