@use '../base/variables' as *;

.section-home-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30vh;
  position: relative;
  
  .prose {
    position: relative;
    display: flex;
    justify-content: center;

    @media (max-width: 620px ) {
      flex-direction: column;
    }
  }
  h1 {
    text-align: right;
    font-size: 5vw;
    line-height: 0.9;
    margin: 0;
    padding-right: 10px;

    @media (min-width: 1300px) {
      font-size: 65px;
    }

    @media (max-width: 620px) {
      font-size: 40px;
      text-align: left;
      margin-left: 40px;
      padding-right: 0;
    }
    @media (max-width: 400px) {
      font-size: 32px;
      margin-left: 0;
    }
  }
  .sub-title {
    font-size: 3vw;
    max-width: 60%;
    margin-top: 1.5em;
    
    @media (min-width: 1300px) {
      font-size: 39px;
    }
    @media (max-width: 620px) {
      font-size: 25px;
      margin: 0 0 0 80px;
      max-width: 100%
    }
    @media (max-width: 400px) {
      font-size: 20px;
      margin: 0 0 0 30px;
      text-align: right;
    }
  }

  .introduction {
    position: absolute;
    top: 100%;
    max-width: 500px;
    font-size: 18px;
    @include glass-panel;
  }

  .scroll-hint {
    display: block;
    height: 50px;
    width: 50px;
    margin: 250px auto 0;

    &:hover {
      border: none;
    }

    @media (max-width: 600px) {
      font-size: 16px;
      margin-top: 250px;
    }

    svg {
      stroke: var(--complement-color);
      fill: transparent;
      transition: stroke .5s ease-in-out;
    }
    
    &:hover svg {
      stroke: var(--complement-color-dark);
    }
  }

  #banner-bottom {
    position: absolute;
    bottom: 60px;
    opacity: 0;
  }
}