/**
 * Page section Intro
 */

.section-intro {
  padding-top: 0;
  padding-bottom: 0;

  &.paddingTop {
    padding-top: 40px;
  }

  &.paddingBottom {
    padding-bottom: 40px;
  }

  .prose.hasColumns {
    columns: 2;

    p {
      max-width: 95%;

      &:first-of-type {
        margin-top: 0;
      }
    }

    @media (max-width: 650px) {
      columns: 1;
    }
  }
}