#main-menu {
  position: fixed;
  top: 120px;
  right: -360px;
  width: 300px;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,.05);
  padding: 30px;
  transition: all 0.5s ease-in-out;


  ul {
    list-style: none;

    li {
      white-space: nowrap;
    }

    a {
      text-decoration: none;
      display: block;
      padding: 10px 0;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--text-color);

      &:hover {
        color: red;
      }
    }
  }
}

// reveal menu
.menu-active #main-menu {
  right: 0;
  transform: translateX(0);
  
}

// active states
[pagename="sections-starter"] .sections-starter,
[pagename="page-sections"] .page-sections,
[pagename="base-components"] .base-components {
  color: var(--link-color-inactive) !important;
}