@use '../base/variables' as *;

.section-wrapper {
  &.inContainer {
    max-width: 1200px;
    margin: 0 auto;

    &.marginTop {
      margin-top: 60px;
    };

    &.marginBottom {
      margin-bottom: 60px;
    };

    // add 80px to compensate for the padding to prevent layout jitter
    @media (max-width: $desktop-large-breakpoint + 80px) {
      max-width: 100%;
      padding: 0 40px;
    }
    @media (max-width: $small-tablet-breakpoint) {
      padding: 0 var(--gutter-width);
    }
  }
}
