{% extends "layout.njk" %}

{% from "./sections/component.njk" import component %}

{% block body %}
  <section class="main-content">

    {% for section in sections %}

      {% set name = section.section %}
      {% set params = section %}
      
      <div class="section-wrapper{% if section.inContainer %} inContainer{% endif %}{% if section.marginTop %} marginTop{% endif %}{% if section.marginBottom %} marginBottom{% endif %} ">
        {# site and components are metadata #}
        {{ component(name, params, site, components, pageSections) }}
      </div>

    {% else %}
      <p class="error-message">There are no sections available</p>
    {% endfor %}
  </section>
{% endblock %}